/* 1. ESTILOS GENERALES */
body {
    background-color: #141414; /* Fondo oscuro tipo Netflix */
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 10px;
}

/* 2. EL BUSCADOR */
#buscador {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-bottom: 30px;
    outline: none;
    
}

/* 3. GRILLA DE PELÍCULAS (Responsive) */
#contenedor-peliculas {
    display: grid;
    /* Esto hace que las columnas sean automáticas según el ancho */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Centrar el contenedor */
}

/* 4. LA TARJETA DEL PRODUCTO */
.producto {
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease; /* Animación suave al pasar el mouse */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.producto:hover {
    transform: scale(1.05); /* Efecto zoom al pasar el mouse */
    background-color: #3e3e3e;
}

.producto img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Para que la imagen no se deforme */
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.precio {
    font-weight: bold;
    color: #46d369; /* Verde precio */
    font-size: 1.1em;
}

/* 5. BOTONES */
button {
    background-color: #e50914; /* Rojo Netflix */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #f40612;
}

/* 6. ZONA DEL CARRITO */
#contenedor-carrito {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

#contenedor-carrito div {
    border-bottom: 1px solid #444;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

#precio-total {
    font-size: 24px;
    color: #46d369;
    margin-top: 20px;
}

#btn-vaciar {
    background-color: #555; /* Un gris para diferenciarlo */
    margin-bottom: 20px;
    font-size: 14px;
    padding: 8px 15px;
}

#btn-vaciar:hover {
    background-color: #777;
}